attr~=0.3.2
brotli~=1.2.0
brotlicffi~=1.2.0.1
capturer~=3.0
chardet~=7.2.0
clr~=1.0.3
cog~=0.16.12
ConfigParser~=7.2.0
contextlib2~=21.6.0
cryptography~=46.0.5
docutils~=0.22.4
filelock~=3.25.2
h2~=4.3.0
HTMLParser~=0.0.2
ipython~=9.11.0
ipywidgets~=8.1.8
jnius~=1.1.0
js~=1.0
keyring~=25.7.0
mock~=5.2.0
monotonic~=1.6
protobuf~=7.34.0
pyodide~=0.0.2
pyOpenSSL~=26.0.0
redis~=7.3.0
sets~=0.3.2
simplejson~=3.20.2
thread~=2.0.6
typing_extensions~=4.15.0
urllib3_secure_extra~=0.1.0
verboselogs~=1.7
wcwidth~=0.6.0
xmlrpclib~=1.0.1
